<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Username</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="box">
        <h1>you are about to edit the user with email : <%=user.email%>
        </h1>
        <div class="small-box">
            <form class="edit_form" action="/users/<%=user.id%>?_method=PATCH" method="post" >

                <div class="input-container">
                    <label for="username">Username :</label>
                    <textarea class="textarea-input" name="username"><%=user.username%></textarea>
                </div>

                <div class="input-container">
                    <label for="password">Password :</label>
                    <input class="textarea-input" type="password" placeholder="Your password" name="password">
                </div>
                <button id="btn_edit">Edit</button>
            </form>
        </div>
    </div>

</body>

</html>